@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 184 40% 98%;
    --foreground: 184 79% 4%;
    --muted: 154 40% 86%;
    --muted-foreground: 154 10% 36%;
    --popover: 184 40% 98%;
    --popover-foreground: 184 79% 4%;
    --card: 184 40% 98%;
    --card-foreground: 184 79% 4%;
    --border: 184 7% 90%;
    --input: 184 7% 90%;
    --primary: 184 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 154 100% 23%;
    --secondary-foreground: 0 0% 100%;
    --accent: 214 100% 23%;
    --accent-foreground: 214 100% 83%;
    --destructive: 11 85% 21%;
    --destructive-foreground: 11 85% 81%;
    --ring: 184 100% 23%;
    --chart-1: 184 100% 23%;
    --chart-2: 154 100% 23%;
    --chart-3: 214 100% 23%;
    --chart-4: 154 100% 26%;
    --chart-5: 184 103% 23%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 184 58% 4%;
    --foreground: 184 14% 99%;
    --muted: 154 40% 14%;
    --muted-foreground: 154 10% 64%;
    --popover: 184 58% 4%;
    --popover-foreground: 184 14% 99%;
    --card: 184 58% 4%;
    --card-foreground: 184 14% 99%;
    --border: 184 7% 10%;
    --input: 184 7% 10%;
    --primary: 184 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 154 100% 23%;
    --secondary-foreground: 0 0% 100%;
    --accent: 214 100% 23%;
    --accent-foreground: 214 100% 83%;
    --destructive: 11 85% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 184 100% 23%;
    --chart-1: 184 100% 23%;
    --chart-2: 154 100% 23%;
    --chart-3: 214 100% 23%;
    --chart-4: 154 100% 26%;
    --chart-5: 184 103% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.embla__slide {
  flex: 0 0 100%; /* Slide covers 90% of the viewport */
}
