@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 184 30% 100%;
    --foreground: 184 51% 4%;
    --muted: 304 35% 89%;
    --muted-foreground: 304 3% 38%;
    --popover: 184 30% 100%;
    --popover-foreground: 184 51% 4%;
    --card: 0 0% 99%;
    --card-foreground: 184 51% 3%;
    --border: 184 14% 94%;
    --input: 184 14% 94%;
    --primary: 184 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 304 100% 23%;
    --secondary-foreground: 304 100% 83%;
    --accent: 64 100% 23%;
    --accent-foreground: 0 0% 100%;
    --destructive: 7 93% 27%;
    --destructive-foreground: 7 93% 87%;
    --ring: 184 100% 23%;
    --chart-1: 184 100% 23%;
    --chart-2: 304 100% 23%;
    --chart-3: 64 100% 23%;
    --chart-4: 304 100% 26%;
    --chart-5: 184 103% 23%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 184 49% 3%;
    --foreground: 184 27% 97%;
    --muted: 304 35% 11%;
    --muted-foreground: 304 3% 62%;
    --popover: 184 49% 3%;
    --popover-foreground: 184 27% 97%;
    --card: 184 49% 4%;
    --card-foreground: 184 27% 98%;
    --border: 184 14% 15%;
    --input: 184 14% 15%;
    --primary: 184 100% 23%;
    --primary-foreground: 0 0% 100%;
    --secondary: 304 100% 23%;
    --secondary-foreground: 304 100% 83%;
    --accent: 64 100% 23%;
    --accent-foreground: 0 0% 100%;
    --destructive: 7 93% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 184 100% 23%;
    --chart-1: 184 100% 23%;
    --chart-2: 304 100% 23%;
    --chart-3: 64 100% 23%;
    --chart-4: 304 100% 26%;
    --chart-5: 184 103% 23%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground text-pretty;
  }
}

.embla__slide {
  flex: 0 0 100%; /* Slide covers 90% of the viewport */
}
